.logo {
    width:150px;
    height:100px;
}

.w3-text-red {
    color: aqua;
}

 .fa-phone, 
 .fa-map-marker, 
 .fa-envelope,
 .w3-button
{
    color: rgb(52, 173, 230);
} 

.w3-image1 {
    width: 1000px;
    height: 400px;
}

/* .main-nav {
    background-color: rgba(0, 0, 0, .22);
    background-image: url('./Images/Logo.png');
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.1em;
    border-bottom: rbg(255, 255, 255, .3);
    height: 10;
} */

