.Grid2 {
    padding: 25px;
    align-content: center;
}

.card2 {
    flex-grow: 1;
    max-Width: 345;
    display: inline;
    display: flex;
    flex-wrap: wrap;

    padding: 25px;
    margin: 15px;
    justify-content: space-evenly;
    width: 400px;
    height: 1500px;
}

.cardMedia2 {
    height: 140;
}

.addDetails {
    text-decoration: underline;
}

.go-back-to-list {
    margin-top: 10px;
}