.Grid2 {
    padding: 25px;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
}

.card2 {
    flex-grow: 1;
    max-Width: 345;
    display: inline;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    padding: 30px;

    padding: 25px;
    /* margin: 0 auto; */
    justify-content: space-evenly;
    width: 400px;
    height: 600px;

}

.cardMedia2 {
    height: 140;
}

.addDetails {
    text-decoration: underline;
}

.go-back-to-list {
    margin-top: 10px;
}