.Grid1 {
    padding: 25px;
    display: flex;
    
   
    /* align-items: center; */
    /* justify-content: center;  */
}

.card1 {
    flex-grow: 1;
    max-Width: 345;
    display: inline;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin: 100px;
    justify-content: space-evenly; 
}

.cardMedia {
    height: 140;
}

.addDetails {
    text-decoration: underline;
}