.nav, .btn {
    background-color: #111111;
    width: 100%; /* the parent must have 100% either */
    overflow: hidden; /* hides overflow */
}

.btn:after {
    content: "";
    clear: both;
    display: table;
   
} 

