.nav {
    background-color: #111111;
    /* width: 100%; the parent must have 100% either */
    /* overflow: hidden; hides overflow */
    position: relative;
}


.nav-button {
    /* flex-grow: 1; */
    /* text-align: end;
    align-items: flex-end; */
    /* float: right;
    height: 40px;
    align-self: right;
    display:inline; */
    position: absolute;
    top: 8px;
    right: 16px;
    font-size:12px;


}

/* .favorite-btn {

} */


